@import "./currency-flag";
.currencies {}
.currency {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  &__name {
    padding: 0;
    margin: 0 0 5px;
    font-size: 1em;
  }
  &__description {
    font-size: .85em;
    color: #676767;
  }
  &.is-active {
    font-weight: 600;
    background-color: #e8e8e8;
  }
  &__info {
    margin-left: 10px;
  }
  &:hover {
    background-color: #c3c5f0;
  }
}